

Thierry .H.Pham : Président du comité d'éthique et de psychopathologie

Pronostique de la dangerosité => individuel 
Il a travaillé à la prison de Mons et l'hopital psychiatrique de Tournai.

Tendance à la surévaluation des risques de récidive. 
Ex avec 2 affaires américaines : Baxstrom & Dixon.
²
Problème des libérations 'test' avec des problèmes à tendance dangereuse => Jurisprudence


la table de contingences Baxstrom souligne bien le fait que la prédiction est vériatblement quelque chose de subjectif et de quasiment impredictible.

La question se pose alors : Comment atteindre un seuil d'exactitude correcte ? Car actuellement l'erreur est énorme.

Les faux positifs : Prédominance des faux positifs dans les contextes anxiogènes & réduction de faux positifs (50%) avec les méthodes valides , spécifiques et
structurées
=> On peut pas utiliser des règles génériques pour quantifier tout le monde. 

La pression des émotions personnelles (principe de précaution) nous incite à surévaluer les risques pour être certain de ne pas ternir l'image donnée par l'instance.

Impacte de ce que la société doit donner comme effort social => impôts 
car un malade en hopital psychiatrique coûte 350 € par jour.

On obtient souvent un écart de 50% de faux positif en moins lorsqu'on fait l'étude comparé à l'impression générale.

				||| L'approche actuarielle |||
Approche statistique standard dévelloppée dans différents domaines de prédiction. 
Stratégie d'évaluation du risque : intuitive, clinique, actuarielle, actuarielle ajustée : jugement structuré  ,dynamique.

Il n'y a pas de corrélation linéaire entre le temps passé libéré et le temps de récidive.
voir courbe de survie (On voit que la ligne est très élevée mais plus tard elle se stabilise et reste constante).
Il y a un algorithme fonctionnant sur le principe de valeur seuil. Un score est donné en fonction de certains critères.

Limite de l'approche : stratégie linéaire et sommatrice => Sommes des critères pondérés pour fixer son jugement.
